@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-blue-900: #0a1b61; /* Main footer blue */
  --color-blue-950: #08144a; /* Copyright deep navy */
}
html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;   /* pushes footer down */
}
